@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto&display=swap');

.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #536DFE; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #494949;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 1rem;
    height: 5rem;
}
header h1{
    margin: 0 0 0.5rem 0;
}


nav > a{
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0;
    border-radius: 1rem;
    display: inline-block;
    min-width: 5rem;
    text-align: center;
    background: #FFECB3;
    color: #212121;
}

nav > a:hover{
    background-color: #536DFE;
    color: #FFFFFF;
}

#choose-algo {
    height: 3rem;
    padding: 1rem;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

#choose-algo select {
    border: 0;
    border-radius: 1rem;
    outline: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#add-section{
    float: bottom;
    padding: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

#add-section form > div {
    display: inline-block;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-right: 1rem;
}

#add-section form > div > * {
    display: block;
}

#add-section input{
    border-radius: 1rem;
    border: 0;
    padding: 0.5rem 0.8rem;
}

#add-section button {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0;
    border-radius: 1rem;
    display: inline-block;
    min-width: 5rem;
    text-align: center;
    border: 0;
}

#add-section button:hover {
    background-color: #a4a4a4;
}

#add-section button:last-child:hover {
    background-color: #B00020;
}

input:focus{
    outline: 0;
}

#diagram-section {
    width: 100%;
    height: auto;
}

#divPlotly {
    width: 100%;
    height: auto;
}