{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark-primary-color primary-text-color">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <script src="{% static 'testscreen/test.js' %}"></script>
    <link rel="stylesheet" href="{% static 'testscreen/style.css' %}">
</head>

<body>
<div id="upper-bound">
    <header>
        <div class="flex-container">
            <div>
                <h1>Visualization of Scheduling Algorithms</h1>
                <span style="font-family: 'Roboto'; font-style: italic;">by Anton Rösler</span>
            </div>

            <nav>
                <a class="btn" href="https://www.antonroesler.de/scheduler">About</a>
                <a class="btn" href="https://www.github.com/antonroesler/Scheduler">Code</a>
                <a class="btn" href="https://www.antonroesler.de">My Website</a>
                <a class="btn" href="https://www.linkedin.com/in/antonroesler/?locale=en_US">Linkedin</a>
            </nav>
        </div>
    </header>
    <div class="flex-container" style="align-items: center">
        <div class="thin-line"></div>
    </div>

    <section id="choose-algo">
        <div style="width: 50%; justify-content: center; height: 100%">
            <div class="custom-select" style="width:66%; float: right;">
                <select name="algo" id="algo-dropdown">
                    <option value="none">Select a Scheduling Algorithm:</option>
                    <option value="fcfs">First Come First Served</option>
                    <option value="sjf">Shortest Job First</option>
                    <option value="hrrn">Highest Response Ratio Next</option>
                    <option value="srtf">Shortest Remaining Time First</option>
                    <option value="lrtf">Longest Remaining Time First</option>
                    <option value="rr">Round Robin</option>
                </select>
            </div>
        </div>
        <div style="width: 50%; display: flex; justify-content: space-around; height: inherit">
            <div style="width: 75%; display: flex; flex-direction: row; justify-content: space-around">
                <button class="btn" onclick="loadDiagram()" style="width: 40%; height: 100%">Visualize</button>
                <button class="btn" onclick="makeComparison()" style="width: 40%; height: 100%">Compare</button>
            </div>
            <div style="width: 25%; height: 100%; display: flex; justify-content: space-between; text-align: center">
                <button class="btn" onclick="decreaseTimeSlice()" style="width: 33.3333%">-</button>
                <button id="time-slice" class="btn" style="width: 33.3333%; border: 0">3</button>
                <button class="btn" onclick="increaseTimeSlice()" style="width: 33.3333%">+</button>
            </div>
        </div>
    </section>
</div>

<section id="diagram-section">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div id="divPlotly"></div>
</section>

<section id="add-section">
    <form method="POST" action="/add">
        {% csrf_token %}
        <div class="field-wrapper">
            <span>Process</span>
            {{ form.name }}
        </div>

        <div class="field-wrapper">
            <span>Arrival</span>
            {{ form.arrival }}
        </div>

        <div class="field-wrapper">
            <span>Burst</span>
            {{ form.burst }}
        </div>


        <button class="btn" onclick="refreshDiagram()">Add</button>
        <button class="btn" type="button" onclick="addRandom()">Create Random</button>
        <button class="btn" type="button" onclick="clearX()">Clear</button>
    </form>
</section>
<script>
    loadDiagram()
</script>
<script src="{% static 'testscreen/dropdown.js' %}"></script>
</body>
</html>